.CommentEverything{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
   border: lightgray 1px solid

}

.content-input{
  width: 24.1vw;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 12px 20px 12px 40px;
  border: 0px solid #ddd;
  outline-width: 0;
  box-shadow: none;
  
}
.content-input::placeholder {
  letter-spacing: .3px;
}

.postButton{
  width: 7vw;
  font-size: 15px;
  letter-spacing: 0.1px;
  padding: 15px 5px 15px 5px;
  background-color: white;
  color: lightblue;
  opacity: 0.75;
  border: 0px;
}

@media (max-width: 580px){
  .content-input{
        width: 550px;
    }
    .postButton{
      width: 10vw;
    }
  }
  
