.header {
  background-color: #fff;
}

.HomeIcon {
  width: 40px;
  height: auto;
  justify-content: space-between;
}

.Usericon {
  width: 40px;
  height: auto;
  justify-content: space-between;
}

.Createicon {
  width: 40px;
  height: auto;
  justify-content: space-between;
}

.Login {
  width: 40px;
  height: auto;
  justify-content: space-between;
}

.Registericon {
  width: 40px;
  height: auto;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: white;
}