.header {
  background-color: #fff;
}

.Homeicon {
  width: 10px;
  height: auto;
}

.Usericon {
  width: 10px;
  height: auto;
}

.Createicon {
  width: 10px;
  height: auto;
}

.Login {
  width: 10px;
  height: auto;
}

.Registericon {
  width: 10px;
  height: auto;
}

.icon {
  justify-content: center;
  background-color: white;
}