* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
}

#wrapper {
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.main-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
  border-radius: 15px;
}

.header {
  border: 0px solid #000;
  margin-bottom: 100px;
}

.header img {
  height: 150px;
  width: 175px;
  margin: auto;
  position: center;
  left: 40px;
}

.input-1,
.input-2 {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 50px;
}

.overlap-text {
  position: relative;
}

.overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #30b2c9;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
}

.btn {
  width: 100%;
  background-color: #30b2c9;
  border: 1px solid #30b2c9;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 50px;
}

.sub-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
  background-color: #fff;
  font-size: lar;
}

.s-part {
  text-align: center;
  font-family: 'Verdana', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Verdana', monospace;
  word-spacing: 1px;
  letter-spacing: 1x;
  font-weight: normal;
}

input:focus {
    background-color: yellow;
}


@media (max-width: 580px){
  .wrapper {
    width: 1000px;
  }
  .main-content {
        width: 500px;
        // height: 500px;
    }
    .input-1,
    .input-2{
      width: 200px
    }
    .sub-content{
      width: 500px;
      font-size: large;
  }
}
  
    @media (max-width: 870px){
      .wrapper {
          width: 1000px;
        }
        .main-content {
          width: 500px
        }
        .input-image-link{
          width: 500px
        }
        .submitButton{
          width: 20vw;
      }
    }